body {
  background: #a5a2a2;
}

.app-container {
  min-height: 100vh;
  background-color: #fff;
}

.app-container .card {
  position: fixed;
  width: 300px;
  padding: 10px;
}

.app-container .btn {
  margin-top: 20px;
}